
a
{
    text-decoration:none;
}
.txt-rt
{
    text-align:right;
}
/* text align right */
.txt-lt
{
    text-align:left;
}
/* text align left */
.txt-center
{
    text-align:center;
}
/* text align center */
.float-rt
{
    float:right;
}
/* float right */
.float-lt
{
    float:left;
}
/* float left */
.clear
{
    clear:both;
}
/* clear float */
.pos-relative
{
    position:relative;
}
/* Position Relative */
.pos-absolute
{
    position:absolute;
}
/* Position Absolute */
.vertical-base
{
    vertical-align:baseline;
}
/* vertical align baseline */
.vertical-top
{
    vertical-align:top;
}
/* vertical align top */
nav.vertical ul li
{
    display:block;
}
/* vertical menu */
nav.horizontal ul li
{
    display: inline-block;
}
/* horizontal menu */
img
{
    max-width:100%;
}
/*--end reset--*/
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	background: url(table4.avif)no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-attachment:fixed;
}
.bg-agile
{
    width: 50%;
    margin: 0 auto;
    position: relative;
    padding: 3em 3em 3.5em;
    background: rgba(15, 5, 22, 0.51);
}
h1
{
    font-size: 54px;
    font-weight: 100!important;
    text-transform: capitalize;
    color: rgb(245, 250, 251);
    word-spacing: 11px;
    letter-spacing: 5px;
    margin: 2.5em 0 1.5em;
    text-align: center;
}


h1 span
{
    color: #ea2e3e!important;
    border: 7px solid rgba(1, 60, 166, 0.86);
    padding: 0 7px 0 12px;
}
.book-appointment h2
{
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 1em;
    font-weight: 500;
    letter-spacing: 7px;
}
/*-- reservation --*/
.book-form input[type="text"], .book-form input[type="email"], select#country, select#country1, input#datepicker
{
    width: 86.8%!important;
    color: #fff;
    font-size: 0.9em;
    letter-spacing: 2px;
    padding: 10px 10px 10px 50px;
    outline: none;
    background: rgba(255, 255, 255, 0);
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.47);
	font-family: 'Flamenco', cursive;
}
.phone_email, .span1_of_1
{
    margin-bottom: 1.5em;
    width: 49%;
    float: left;
}
.phone_email1
{
    float: right;
}
select#country,select#country1
{
    width: 100%!important;
}
select#country option, select#country1 option
{
	background:#000;
}
.book-form .form-text,.book_date,.section_room
{
    position: relative;
} 

.book-form input[type="button"]
{
    text-transform: capitalize;
    background: rgba(16, 67, 163, 0.13);
    color: #ffffff;
    padding: 0.7em 0em;
    border: none;
    border: 2px solid rgb(242, 245, 242);
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1.5em;
    width: 27%;
    /* float: right; */
    outline: none;
    letter-spacing: 8px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    cursor: pointer;
}

.book-form input[type="reset"]
{
    /* text-transform: capitalize; */
    background: rgba(3, 11, 26, 0.13);
    color: #ffffff;
    padding: 0.7em 0em;
    border: none;
    border: 2px solid #e4edf1;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1.5em;
       width: 27%;

    outline: none;
    letter-spacing: 8px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    cursor: pointer;
}
.book-form input[type="reset"]:hover
{
    color: #fff;
}
.book-form ::-webkit-input-placeholder
{
	color:#fff !important;
}

